<template>
  <div>
    <h1>Your projects</h1>

    <div id="container">
      <div class="project" v-for="project in projects">
        <div class="heading">
          <h2>{{ project.name_with_namespace }}</h2>
          <img :src="project.avatar_url" alt="" class="avatar" height="23px" width="23px"/>
        </div>
        <div class="main-content">
          <p class="description">{{ project.description }}</p>
          <div class="flex-row">
            <b>Jobs enabled:</b> <p>{{project.jobs_enabled}}</p>
          </div>
          <div class="flex-row">
            <b>Shared runners enabled:</b> <p>{{project.shared_runners_enabled}}</p>
          </div>
        </div>
        <router-link class="btn" :to="`/?project=${project.id}`">See project's runners</router-link>
      </div>
      <page-numbers
        :change="fetchData"
        :pageInfo="pageInfo"
        ></page-numbers>
    </div>
  </div>

</template>

<script>
  import { projectsList } from './projectsList'

  export default projectsList
</script>

<style scoped>
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .project {
    border: 1px grey solid;
    margin: 10px;
    flex: 1;
    flex-basis: auto;
    padding: 5px;
  }

  h1 {
    text-align: center;
    font-size: xx-large;
  }

  h2 {
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .project {
    border: 1px #292961 solid;
    margin: 10px;
    flex: 1;
    padding: 5px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    min-width: 20%;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin: -5px;
    vertical-align: center;
    align-items: baseline;
    background-color: #292961;
    color: white;
  }

  .main-content {
    flex: 1;
    padding-top: 15px;
  }

  .btn {
    align-self: end;

    background-color: #1aaa55;
    border-color: #168f48;
    color: #fff;

    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 10px;

    transition: background-color 100ms linear, border-color 100ms linear, color 100ms linear, box-shadow 100ms linear;

    text-align: center;
    vertical-align: middle;

    text-decoration: none;

    margin-top: 10px;
  }

  .avatar {
    border-radius: 50%;
    align-self: right;
    margin-right: 10px;
    border-color: #d1d1f0;
  }
</style>
