<!-- Based on https://gitlab.com/gitlab-org/gitlab-ce/blob/dfb14e4d22aa91d9d3fbcee5c7e44ae61bf18c51/app/assets/javascripts/vue_shared/components/table_pagination.vue -->

<!--

Copyright (c) 2011-2017 GitLab B.V.

With regard to the GitLab Software:

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

-->

<template>
  <div
    v-if="showPagination"
    class="gl-pagination"
  >
    <ul class="pagination clearfix">
      <li
        v-for="(item, index) in getItems"
        :key="index"
        :class="{
          page: item.page,
          'js-previous-button': item.prev,
          'js-next-button': item.next,
          'js-last-button': item.last,
          'js-first-button': item.first,
          separator: item.separator,
          active: item.active,
          disabled: item.disabled
        }"
      >
        <a @click.prevent="changePage(item.title, item.disabled)">
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
  const PAGINATION_UI_BUTTON_LIMIT = 4
const UI_LIMIT = 6
const SPREAD = '...'
const PREV = 'Prev'
const NEXT = 'Next'
const FIRST = '« First'
const LAST = 'Last »'

export default {
    name: 'page-numbers',

    props: {
      /**
       This function will take the information given by the pagination component
       */
      change: {
        type: Function,
        required: true
      },

      /**
       pageInfo will come from the headers of the API call
       in the `.then` clause of the VueResource API call
       there should be a function that contructs the pageInfo for this component

       This is an example:

       const pageInfo = headers => ({
          perPage: +headers['X-Per-Page'],
          page: +headers['X-Page'],
          total: +headers['X-Total'],
          totalPages: +headers['X-Total-Pages'],
          nextPage: +headers['X-Next-Page'],
          previousPage: +headers['X-Prev-Page'],
        });
       */
      pageInfo: {
        type: Object,
        required: true
      }
    },
    computed: {
      prev () {
        return this.pageInfo.previousPage
      },
      next () {
        return this.pageInfo.nextPage
      },
      getItems () {
        const total = this.pageInfo.totalPages
        const page = this.pageInfo.page
        const items = []

        if (page > 1) {
          items.push({ title: FIRST, first: true })
        }

        if (page > 1) {
          items.push({ title: PREV, prev: true })
        } else {
          items.push({ title: PREV, disabled: true, prev: true })
        }

        if (page > UI_LIMIT) items.push({ title: SPREAD, separator: true })

        const start = Math.max(page - PAGINATION_UI_BUTTON_LIMIT, 1)
        const end = Math.min(page + PAGINATION_UI_BUTTON_LIMIT, total)

        for (let i = start; i <= end; i += 1) {
          const isActive = i === page
          items.push({ title: i, active: isActive, page: true })
        }

        if (total - page > PAGINATION_UI_BUTTON_LIMIT) {
          items.push({ title: SPREAD, separator: true, page: true })
        }

        if (page === total) {
          items.push({ title: NEXT, disabled: true, next: true })
        } else if (total - page >= 1) {
          items.push({ title: NEXT, next: true })
        }

        if (total - page >= 1) {
          items.push({ title: LAST, last: true })
        }

        return items
      },
      showPagination () {
        return this.pageInfo.totalPages > 1
      }
    },
    methods: {
      changePage (text, isDisabled) {
        if (isDisabled) return

        const { totalPages, nextPage, previousPage } = this.pageInfo

        switch (text) {
          case SPREAD:
            break
          case LAST:
            this.change(totalPages)
            break
          case NEXT:
            this.change(nextPage)
            break
          case PREV:
            this.change(previousPage)
            break
          case FIRST:
            this.change(1)
            break
          default:
            this.change(+text)
            break
        }
      }
    }
  }
</script>

<style scoped>
  /* Based on https://gitlab.com/gitlab-org/gitlab-ce/blob/dfb14e4d22aa91d9d3fbcee5c7e44ae61bf18c51/app/assets/stylesheets/framework/pagination.scss */
  .gl-pagination {
    text-align: center;
    border-top: 1px solid #e5e5e5;
    margin: 0;
  }

  .pagination {
    padding: 0;
    display: inline-block;
    margin: 20px 0;
    border-radius: 3px;
  }

  .pagination li {
    display: inline;
  }

  .pagination > li > a {
    cursor: pointer;
    position: relative;
    float: left;
    padding: 6px 16px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #2e2e2e;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin-left: -1px;
  }

  .pagination > li > a:hover {
    z-index: 2;
    color: #2e2e2e;
    background-color: #f6fafe;
    border-color: #e5e5e5;
  }

  .pagination > .active > a, .pagination > .active > a:hover {
    z-index: 3;
    color: #fff;
    background-color: #1b69b6;
    border-color: #1b69b6;
    cursor: default;
  }

  .pagination > .disabled > span {
    color: #cdcdcd;
    background-color: #fafafa;
    border-color: #e5e5e5;
    cursor: not-allowed;
  }

  .separator a, .separator:hover a {
    cursor: default;
    background-color: #5c5c5c;
    padding: 6px;
  }

  .pagination > .separator > a {
    background-color: #fafafa;
    padding: 6px;
    cursor: default;
  }

  .panel > .gl-pagination {
    margin: 0;
  }

  .page {
    display: none;
  }
  .page .active, .page .sibling {
     display: inline;
   }

</style>
