<template>
    <footer>
      <p class="notice">This website is not affiliated nor endorsed by GitLab Inc.</p>
      <p class="links">
        <a href="https://gitlab.com/rpadovani/my-gitlab-ci/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=">Report an issue</a>
        <a href="https://gitlab.com/rpadovani/my-gitlab-ci">See the source code</a>
        <a href="https://gitlab.com/rpadovani/my-gitlab-ci/blob/master/CONTRIBUTING.md">Contribute</a>
        <router-link to="/donations">Donations</router-link>
      </p>
    </footer>
</template>

<script>
  export default {
    name: 'the-footer'
  }
</script>

<style scoped>
  footer {
    display: flex;
    background-color: #292961;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .notice {
    font-size: small;
    color: #d1d1f0;
  }

  .links {
    margin: 10px;
    font-size: small;
    color: #d1d1f0;
    display: flex;
  }

  .links a {
    color: #d1d1f0;
    text-decoration: none;
  }

  .links > a {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    margin: 4px 2px;
    font-size: 12px;
    color: currentColor;
    border-radius: 4px;
    height: 20px;
    font-weight: 600;
  }

  .links > a:hover {
    color: #fff;
    background-color: rgba(209,209,240,0.2);
  }

  .router-link-exact-active {
    background-color: #fff !important;
    color: #292961 !important;
  }
</style>
