<template>
  <header>
    <div class="container-fluid">
      <div class="header-content">
        <div class="title-container">
          <h1 class="title">
            <router-link :to="'/'">My Gitlab CI</router-link>
          </h1>
          <ul class="navbar-sub-nav" v-if="!hideElements">
            <li><router-link :to="'/'">Your runners</router-link></li>
            <li><router-link :to="'/projects'">Your projects</router-link></li>
          </ul>
        </div>

        <div class="navbar-collapse" v-if="!hideElements">
          <ul class="navbar-nav">
            <li>
              <a :href="user.web_url">
                <img :src="user.avatar_url" alt="Avatar" class="avatar" height="23px" width="23px"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
  import { getUser } from '@/utils/gitlabApi'

  export default {
    name: 'the-header',

    created: function () { this.fetchData() },

    data: function () {
      return {
        user: {}
      }
    },

    computed: {
      hideElements: function () {
        return this.$route.path === '/auth'
      }
    },

    methods: {
      fetchData: async function () {
        this.user = await getUser()
      }
    }
  }
</script>

<style scoped>
  header {
    padding: 0 16px;
    z-index: 1000;
    margin-bottom: 0;
    min-height: 40px;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    background-color: #292961;
  }

  a {
    text-decoration: none;
  }

  .container-fluid {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 40px;
    padding-left: 0;
  }

  .title-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 0;
    overflow: visible;
  }

  .title {
    padding-right: 0;
    color: white;
    display: -webkit-flex;
    display: flex;
    position: relative;
    margin: 0;
    font-size: 18px;
    vertical-align: top;
    white-space: nowrap;
  }

  .title a {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    margin: 5px 2px 5px -8px;
    border-radius: 4px;
    color: white;
  }

  .navbar-sub-nav {
    padding-left: 0;
    list-style: none;
    display: flex;
    margin: 0 0 0 6px;
    color: #d1d1f0;
  }

  .navbar-sub-nav > li > a,  .navbar-nav > li > a {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    margin: 4px 2px;
    font-size: 12px;
    color: currentColor;
    border-radius: 4px;
    height: 20px;
    font-weight: 600;
  }

  .navbar-sub-nav > li > a:hover {
    color: #fff;
    background-color: rgba(209,209,240,0.2);
  }

  .navbar-collapse {
    flex: 0 0 auto;
    border-top: 0;
    padding: 0;
    color: #d1d1f0;
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    width: auto;
    min-width: 40px;
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }

  .avatar {
    border-radius: 50%;
    align-self: center;
    margin-right: 10px;
    border-color: #d1d1f0;
  }

  li > .router-link-exact-active {
    background-color: #fff !important;
    color: #292961 !important;
  }
</style>
