<template>
  <div class="job-container">
    <div class="row first-row">
      <div>
        <b>{{job.project.name_with_namespace}}</b>
      </div>
      <div class="pipeline">
        Pipeline
        <a v-bind:href="`https://gitlab.com/${job.project.path_with_namespace}/pipelines/${job.pipeline.id}`" target="_blank">
          #{{job.pipeline.id}}
        </a> by <img v-bind:src="job.user.avatar_url" class="job-avatar" />
        <span class="ci-status" v-bind:class="[ 'ci-' + job.pipeline.status  ]">{{job.pipeline.status}}</span>
      </div>
    </div>
    <div class="row second-row">
      <div class="ci-status"
           v-bind:class="[ 'ci-' + job.status  ]">
        {{job.status}}
      </div>
      <div class="job">
        Job
        <a v-bind:href="`https://gitlab.com/${job.project.path_with_namespace}/-/jobs/${job.id}`" target="_blank">
          #{{job.id}}
        </a>
        on branch
        <a v-bind:href="`https://gitlab.com/${job.project.path_with_namespace}/commits/${job.ref}`" target="_blank">
          <b>{{job.ref}}</b>
        </a>
        for commit
        <a v-bind:href="`https://gitlab.com/${job.project.path_with_namespace}/commit/${job.commit.id}`" target="_blank">
         {{job.commit.short_id}}
        </a>
      </div>
      <div class="stage"><b>Stage:</b> {{job.stage}}</div>
      <div class="name"><b>Job:</b> {{job.name}}</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'job-row',
    props: {
      job: {}
    }
  }
</script>

<style scoped>
  .job-container {
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .row {
    display: flex;
    justify-content: space-around
  }

  .first-row {
    margin: -5px -5px 0 -5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fafafa;
    padding: 7px 7px 7px 0;
  }

  .second-row {
    margin-top: 7px;
    align-items: center;
    padding: 5px;
  }

  .job-avatar {
    border-radius: 50%;
    border: 1px solid #f5f5f5;
    width: 20px;
    height: 20px;
    vertical-align: top;
  }
  .ci-status {
    padding:2px 7px 4px;
    border:1px solid #eee;
    white-space:nowrap;
    border-radius:4px
  }
  .ci-status:hover,.ci-status:focus {
    text-decoration:none
  }
  .ci-status svg {
    height:13px;
    width:13px;
    position:relative;
    top:2px;
    overflow:visible
  }
  .ci-status.ci-failed {
    color:#db3b21;
    border-color:#db3b21
  }
  .ci-status.ci-failed:not(span):hover {
    background-color:#fbe5e1;
    color:#c0341d;
    border-color:#c0341d
  }
  .ci-status.ci-success {
    color:#1aaa55;
    border-color:#1aaa55
  }
  .ci-status.ci-success:not(span):hover {
    background-color:#dcf5e7;
    color:#12753a;
    border-color:#12753a
  }
  .ci-status.ci-canceled,.ci-status.ci-disabled,.ci-status.ci-manual {
    color:#2e2e2e;
    border-color:#2e2e2e
  }
  .ci-status.ci-canceled:not(span):hover,.ci-status.ci-disabled:not(span):hover,.ci-status.ci-manual:not(span):hover {
    background-color:rgba(46,46,46,0.07)
  }
  .ci-status.ci-pending,.ci-status.ci-failed_with_warnings,.ci-status.ci-success_with_warnings {
    color:#fc9403;
    border-color:#fc9403
  }
  .ci-status.ci-pending:not(span):hover,.ci-status.ci-failed_with_warnings:not(span):hover,.ci-status.ci-success_with_warnings:not(span):hover {
    background-color:#fff1de;
    color:#c26700;
    border-color:#c26700
  }
  .ci-status.ci-info,.ci-status.ci-running {
    color:#1f78d1;
    border-color:#1f78d1
  }
  .ci-status.ci-info:not(span):hover,.ci-status.ci-running:not(span):hover {
    background-color:#e4f0fb;
    color:#1b69b6;
    border-color:#1b69b6
  }
  .ci-status.ci-created,.ci-status.ci-skipped {
    color:#707070;
    border-color:#707070
  }
  .ci-status.ci-created:not(span):hover,.ci-status.ci-skipped:not(span):hover {
    background-color:rgba(112,112,112,0.07)
  }
  .visible-xs-inline .ci-status-link {
    position:relative;
    top:2px;
    left:5px
  }
  .ci-status-link svg {
    overflow:visible
  }
</style>
