<template>
  <div id="container">
    <div class="flex-row space-between">
      <span class="flex-row">
        <h1>#{{runner.id}}</h1>
        <h1 style="margin-left: 10px">{{runner.name}}</h1>
      </span>

      <div class="offline" v-if="runner.status === 'offline'">Runner is offline</div>
      <div class="online" v-if="runner.status !== 'offline'">Runner is {{runner.status}}</div>
    </div>

    <div class="flex-row">
      <div class="information-box">
        <div class="heading">Runner information</div>
        <div class="information-row"><b>Active:</b> <span>{{runner.active}}</span></div>
        <div class="information-row"><b>Shared:</b> <span>{{runner.is_shared}}</span></div>
        <div class="information-row"><b>Tag list:</b> <span>{{runner.tag_list}}</span></div>
        <div class="information-row"><b>Run untagged:</b> <span>{{runner.run_untagged}}</span></div>
        <div class="information-row"><b>Locked:</b> <span>{{runner.locked}}</span></div>
        <div class="information-row"><b>Access level:</b> <span>{{runner.access_level}}</span></div>
      </div>

      <div class="information-box">
        <div class="heading">System information</div>
        <div class="information-row"><b>Runner version:</b> <span>{{runner.version}}</span></div>
        <div class="information-row"><b>Runner revision:</b> <span>{{runner.revision}}</span></div>
        <div class="information-row"><b>OS Platform:</b> <span>{{runner.platform}}</span></div>
        <div class="information-row"><b>System architecture:</b> <span>{{runner.architecture}}</span></div>
        <div class="information-row"><b>Last contacted at:</b> <span>{{new Date(runner.contacted_at).toString()}}</span></div>
        <div class="information-row"><b>Token:</b> <span>{{runner.token}}</span></div>
      </div>
    </div>

    <h2>Associated projects</h2>
    <div class="project-row" v-for="project in runner.projects">
      <div class="project-name-description">
        <b class="project-name">{{project.name_with_namespace}}</b>
        <span class="project-description">{{project.description}}</span>
      </div>
      <a class="btn" :href="project.web_url">See on Gitlab.com</a>
    </div>

    <h2>List of jobs</h2>

    <div v-if="notAuthJobs">You are not authorized to see this</div>

    <job-row class="job" v-for="job in jobs" :job="job" :key="job.id">

    </job-row>

    <page-numbers
      :change="fetchData"
      :pageInfo="pageInfo"
    ></page-numbers>
  </div>
</template>

<script>
  import { SingleRunner } from './singleRunner'

  export default SingleRunner
</script>

<style scoped>
  #container {
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: center;
    font-size: xx-large;
  }

  h2 {
    text-align: center;
    font-size: large;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
  }

  .space-between {
    justify-content: space-between;
  }

  .offline, .online {
    align-self: center;
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    align-items: center;
    font-weight: 600;
  }

  .offline {
    background-color: red;
  }

  .online {
    background-color: green;
  }

  .information-box {
    flex: 1;
    border: 1px #292961 solid;
    margin: 10px;
    padding: 5px;
    justify-content: space-around;
    border-radius: 0 0 5px 5px;
  }

  .information-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    vertical-align: center;
    align-items: baseline;
    background-color: #292961;
    color: white;
    font-weight: 600;
    margin: -5px -5px 10px;
  }

  .project-row {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border-bottom: 1px solid #eee;
  }

  .project-name-description {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .project-name {
    flex: 1;
    text-align: left;
  }

  .btn {
    align-self: end;

    background-color: #1aaa55;
    border-color: #168f48;
    color: #fff;

    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 10px;

    transition: background-color 100ms linear, border-color 100ms linear, color 100ms linear, box-shadow 100ms linear;

    text-align: center;
    vertical-align: middle;

    text-decoration: none;

    margin-top: 5px;
    margin-bottom: 5px;
  }

  .job {
    display: flex;
    justify-content: space-around;
  }
</style>
