<template>
  <div id="app">
    <the-header/>
    <!--<img src="./assets/logo.png">-->
    <div class="content">
      <router-view :key="$route.fullPath"/>
    </div>
    <the-footer/>
  </div>
</template>

<script>
import TheHeader from './commons/TheHeader'
import TheFooter from './commons/TheFooter'

export default {
  components: {
    TheFooter,
    TheHeader},
  name: 'app'
}
</script>

<style>
  #app {
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    justify-content: space-between;
    min-height: 100vh;
  }

  .content {
    flex: 1;
    margin-top: 40px;
  }
</style>
