<template>
  <div>
    <h1>{{pageTitle}}</h1>

    <div id="container">
      <div class="runner" v-for="runner in runners">
        <div class="heading">
          <div>#{{runner.id}}</div>
          <h2>{{ runner.name }}</h2>
          <div v-bind:class="[runner.status === 'offline' ? 'red' : 'green', 'circle' ]"></div>
        </div>
        <div class="main-content">
          This runner is <b v-if="!runner.is_shared">not </b>shared
          <p class="description">{{ runner.description }}</p>
          <div class="flex-row" style="margin-top: 10px">
            <b>Current job:</b>
            <span>{{ runner.currentJob }}</span>
          </div>
        </div>

        <router-link class="btn" :to="`/runners/${runner.id}`">See more ➔</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import {runnersList} from './runnersList'

  export default runnersList
</script>

<style scoped>
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  h1 {
    text-align: center;
    font-size: xx-large;
  }

  h2 {
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .runner {
    border: 1px #292961 solid;
    margin: 10px;
    flex: 1;
    padding: 5px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    min-width: 20%;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin: -5px;
    vertical-align: center;
    align-items: baseline;
    background-color: #292961;
    color: white;
  }

  .main-content {
    flex: 1;
    padding-top: 15px;
  }

  .btn {
    align-self: end;

    background-color: #1aaa55;
    border-color: #168f48;
    color: #fff;

    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 10px;

    transition: background-color 100ms linear, border-color 100ms linear, color 100ms linear, box-shadow 100ms linear;

    text-align: center;
    vertical-align: middle;

    text-decoration: none;

    margin-top: 10px;
  }

  .description {
    margin: 10px;
  }

  .circle {
    border-radius: 50%;
    height: 15px;   /* TODO: dynamic */
    width: 15px;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }
</style>
