<template>
  <h1 v-if="!isStateHashValid">
    Invalid state
  </h1>
</template>

<script>
  import {callbackComponent} from './callback'

  export default callbackComponent
</script>

<style scoped>

</style>
