<template>
  <div class="home-splash">
    <h1>My Gitlab CI</h1>
    <h2>A place where you can overview and (soon) control all your Gitlab Runners</h2>
    <div v-if="step === steps.CUSTOM_LOGIN">

      <label for="host">Gitlab's domain:</label>
      <input id="host" v-model="host" placeholder="Your Gitlab instance">
      <br/>
      <label for="host">App ID (<a href="https://gitlab.com/rpadovani/my-gitlab-ci/wikis/app-id" target="_blank">more info</a>):</label>
      <input v-model="appId" placeholder="Your Gitlab instance">
    </div>

    <a class="btn" :href="oauthUrl">Login via {{host}}</a>
    <p v-if="step === steps.STANDARD_LOGIN" class="btn" v-on:click="() => customDomain()">Login through a custom domain</p>

  </div>
</template>

<script>
    import {loginComponent} from './login'

    export default loginComponent
</script>

<style scoped>
  .home-splash {
    min-height: 100%;
    text-align: center;
    font-weight: 300;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-weight: 300;
    max-width: 784px;
    margin: 20px auto 18px;
    font-size: 28px;
    line-height: 1.2;
  }

  .btn {
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: inline-block;
    padding: 0 30px;
    margin: 10px;
    font-size: 16px;
    line-height: 40px;
    min-width: 140px;

    font-weight: 300;
    background: #e65328 none;
    color: #fff;

    text-decoration: none;
  }
</style>
